#main-header {
  background-color: #033366;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

#main-header .navbar-brand img {
  max-height: 60px;
}

.navbar-nav .nav-item {
  padding: 0px 15px;
}

#mobile-menu {
  width: 100vw;
  background-color: #4888cd;
}

#mobile-menu .offcanvas-header {
  justify-content: flex-end;
}

#mobile-menu .offcanvas-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile-menu .offcanvas-body .nav-item {
  text-align: center;
}

@media (max-width: 992px) {
  #main-header .navbar {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #mobile-menu {
    display: none;
  }

  #main-header {
    justify-content: center;
  }

  .mobile {
    display: none;
  }

  #main-header .navbar-brand img {
    max-height: 90px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav .nav-item {
    padding: 0px 35px;
  }
}
